<input type="text" id="lang" />

<script src="../../jquery.min.js"></script>
<script src="../jquery-ui.min.js"></script>

<script type="text/javascript">
    $(function () {
        var langs = ["Java", "JavaScript", "VisualBasic", "PHP", "Pascal"];
        $('input#lang').autocomplete({
            source: langs
        });
    });
</script>