<script src="../../jquery.min.js"></script>
<script src="../jquery-ui.min.js"></script>

<input type="text" id="lang" />
<div id="langsList"></div>
<script type="text/javascript">
    $(function () {
        var langs = ["Java", "JavaScript", "VisualBasic", "PHP", "Pascal"];
        $('input#lang').autocomplete({ appendTo: "#langsList", source: langs });
    });
</script>