<link rel="stylesheet" href="/bootstrap_cdn/bootstrap.min.css">
<link rel="stylesheet" href="select2.min.css">

<script src="/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap_cdn/bootstrap.min.js"></script>
<script type="text/javascript" src="select2.min.js"></script>
<script type="text/javascript" src="/09_validation/jquery.validate.min.js"></script>
<style>
    form {
        margin: 20px;
    }
</style>
<form id="form" class="form_required form-horizontal">

    <div class="form-group">
        <div class="col-sm-8">

            <select type="text" id="test1" class="form-control select2" required>
                <option value="">&nbsp;</option>
                <option value="1">test1</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <button type="button" onclick="insert()">Submit</button>
    </div>
</form>

<form id="form2" class="form_required form-horizontal">

    <div class="form-group">
        <div class="col-sm-8">
            <select type="text" id="test2" class="form-control" required>
                <option value="">&nbsp;</option>
                <option value="1">test2</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <button type="button" onclick="insert2()">Submit</button>
    </div>
</form>

<script>
    $('.select2').select2({ container: 'body' })

    $(".form_required").validate({
        highlight: function (element, errorClass, validClass) {
            $(element).parents('.form-control').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).parents('.form-control').removeClass('has-error').addClass('has-success');
        },
        errorPlacement: function (error, element) {
            if (element.hasClass('select2') && element.next('.select2-container').length) {
                error.insertAfter(element.next('.select2-container'));
            } else if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            }
            else if (element.prop('type') === 'radio' && element.parent('.radio-inline').length) {
                error.insertAfter(element.parent().parent());
            }
            else if (element.prop('type') === 'checkbox' || element.prop('type') === 'radio') {
                error.appendTo(element.parent().parent());
            }
            else {
                error.insertAfter(element);
            }
        }
    });
    function insert() {
        if ($('#form').valid()) {
            alert('OK');
        }
    }

    function insert2() {
        if ($('#form2').valid()) {
            alert('OK');
        }
    }
</script>