<script type="text/javascript" src="../../jquery.min.js"></script>
<link rel="stylesheet" href="../jquery.dataTables.min.css">
<script src="../jquery.dataTables.min.js"></script>

<table id="table_id" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Place</th>
            <th>Contact No.</th>
            <th>DOJ</th>
            <th>Email</th>
        </tr>
    </thead>
</table>
<script>
    var root = location.protocol + '//' + location.host;
    $(document).ready(function () {
        $("#table_id").DataTable({
            "ajax": {
                "type": 'GET',
                "dataType": 'json',
                "async": false,
                "url": "ajaxList.json",
                "dataSrc": function (json) {
                    for (var i = 0, ien = json.data.length; i < ien; i++) {
                        //json.data[i][0] = 'View message_'+i;
                        json.data[i][0] = '<a href="/message/' + json.data[i][0] + '">View message</a>';
                    }
                    return json.data;
                }
            }
        });
    });
</script>