<a href="1.html" id="link1">My link 1</a><br>
<a href="2.html" id="link2">My link 2</a>

<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            var style = $('a').css('font-weight', 'bold');
            console.log(style);
            //output 16px
        }
    );
</script>