<a href="1.html" id="link1">My link 1</a><br>
<a href="2.html" id="link2">My link 2</a>

<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            $('a').css('color', function (index, oldValue) {
                if (oldValue == 'rgb(0, 0, 238)') { return 'red'; }
                else { return 'green'; }
            });
        }
    );
</script>