<div style="background-color:brown;width:150;height:100;">
    Test
</div>

<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        var div = $('div').first();
        var newWidth = div.width() + 150;
        div.width(newWidth);
        var newHeight = div.height() + 50;
        div.height(newHeight);

        console.log('height: ' + div.height());
        console.log('width: ' + div.width());
    });
</script>