<link href="../jquery.dataTables.min.css" rel="stylesheet" />
<link href="/bootstrap_cdn/bootstrap.min.css"/>
<h1>Editable Batch DataTable</h1>
<table id="dataTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <!-- Rows will be populated dynamically -->
    </tbody>
</table>
<div>
    <button id="saveChanges" class="btn btn-primary">Save Changes</button>
</div>
<script src="/jquery.min.js"></script>
<script src="/bootstrap_cdn/bootstrap.min.js"></script>
<script src="../jquery.dataTables.min.js"></script>
<script src="datatable.js"></script>
<script src="edit-row.js"></script>
<script src="save.js"></script>