<div id="menu">
    <a href="m.tml" class="redStyle">Link to page</a>
</div>
<script src="../../jquery.min.js"></script>
<script>
    $(function(){
        var element=$("#menu > a");
        console.log(element[0].href);
    });
</script>