<div id="menu">
    <a href="1.html" class="open">1.html</a>
    <a href="2.html" class="closed">2.html</a>
    <a href="3.html">3.html</a>
    <a href="4.html" class="open">4.html</a>
    <a href="5.html" class="closed">5.html</a>
    <a href="6.html" class="open">6.html</a>
</div>
<script src="../../jquery.min.js"></script>
<script>
    //sequence rule(open should be after closed) 
    var elementArray = $(".closed + .open");
    try {
        console.log('1.' + elementArray[0].href)
        console.log('2.' + elementArray[0].innerHTML)
        console.log('3.' + elementArray[0].text)
    }
    catch (e) {
        console.log(e);
    }
</script>