<div id="menu">
    <a href="1.html" class="open">1.html</a>
    <a href="2.html" class="closed">2.html</a>
    <a href="3.html">3.html</a>
    <a href="4.html" class="open">4.html</a>
    <a href="5.html" class="closed">5.html</a>
    <a href="6.html" class="open">6.html</a>
</div>
-----------------------------------------------
<div id="test"></div>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        var elements = $(".closed ~ .open");
        $(elements).each(function (index,element) {
            $("#test").append(element);
        });        
    });
</script>