<a href="1.html" class="open">1.html</a>
<a href="2.html" class="redStyle">2.html</a>
<a href="3.html" class="redStyle closed">3.html</a>
<a href="3.html" class="redStyle1">4.html</a>
<a href="3.html" class="red-freeStyle-closed">5.html</a>
<script src="../../jquery.min.js">
    $(function () {
        //get all anchor with class
        var test1 = $("a[class]");
        //get anchors with class equals 'redStyle'
        var test2 = $("a[class='redStyle']");
        //class like 'red'
        var test3 = $("a[class^='red']");
        //class ends with 'Style'
        var test4 = $("a[class$='Style']");
        //one of the space seperated values equal to
        var test5 = $("a[class~='redStyle']");
        //if attribute contains
        var test6 = $("a[class*='Style']");
        //if attribute starts with
        var test7 = $("a[class|='red']")
    });
</script>