<button>Load</button>
<div id="news"><h3>No news</h3></div>
<script src="../../jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    $('button').click(function(){
        //it is get if no data parameter
        $('#news').load('http://localhost:5248/');
    });
});
</script>