<link rel="stylesheet" href="../../jquery.dataTables.min.css">
<table id="tableID" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
</table>
<script src="../../../jquery.min.js"></script>
<script src="../../jquery.dataTables.min.js"></script>
<script src="../buttons_libraries/dataTables.buttons.min.js"></script>
<script src="../buttons_libraries/jszip.min.js"></script>
<script src="../buttons_libraries/pdfmake.min.js"></script>
<script src="../buttons_libraries/vfs_fonts.js"></script>
<script src="../buttons_libraries/buttons.html5.min.js"></script>
<script src="../buttons_libraries/buttons.print.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tableID').dataTable({
            ajax: 'data.json',
            dom: 'Brlftip',
            buttons: [
                {
                    text: 'Reload',
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }
            ],
            "columns": [
                { 'data': 'id' },
                { 'data': 'name' },
                { 'data': 'address' }
            ]
        });
    });
</script>