<ul class="menu">
    <li>Menu 1</li>
    <li>Menu 2
        <ul class="submenu">
            <li>SubMenu 2.1</li>
            <li>SubMenu 2.2</li>
        </ul>
    </li>
    <li>Menu 3
        <ul>
            <li>SubMenu 3.1</li>
            <li>SubMenu 3.2</li>
        </ul>
    </li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        // child node without selector
        var lists = $('li').children('');
        console.log('child node without selector');
        lists.each(function (index, elem) {            
            console.log(elem.innerHTML);
        });

        //child node with selector
        var lists2 = $('li').children('.submenu');
        console.log('child node with selector');
        lists2.each(function (index, elem) {            
            console.log(elem.innerHTML);
        });
    });
</script>