<ul class="menu">
    <li>Menu 1</li>
    <li>Menu 2
        <ul class="submenu">
            <li>SubMenu 2.1</li>
            <li>SubMenu 2.2</li>
        </ul>
    </li>
    <li>Menu 3
        <ul>
            <li>SubMenu 3.1</li>
            <li>SubMenu 3.2</li>
        </ul>
    </li>
</ul>
<script src="../../jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    var list = $('li').closest('ul.submenu');
    //closest is
    list.each(function(index, elem){
        console.log(elem.innerHTML);
    });
});
</script>