<h2 class="header">Header</h2>
<ul class="menu">
    <li class="punkt1">Menu 1</li>
    <li class="punkt2">Menu 2
        <ul class="submenu">
            <li>SubMenu 2.1</li>
            <li>SubMenu 2.2</li>
        </ul>
    </li>
    <li class="punkt3">Menu 3</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            var lists = $('li.punkt1').next();
            lists.each(function (index, elem) {
                console.log(elem.innerHTML);
            });
        }
    );
</script>