<body>
    <form action="http://localhost:5248/post" id="loginForm" method="post">
        <input type="text" id="login" placeholder="Login" /><br><br>
        <input type="text" id="password" placeholder="Password" /><br><br>
        <input type="submit" value="Enter" />
    </form>
    <div id="result"></div>
    <script src="../../jquery.min.js"></script>
    <script type="text/javascript">
        $("#loginForm").submit(function (event) {
            // prevent dafault form sending
            event.preventDefault();
            $.post(
                'http://localhost:5248/post',
                { 'login': $('#login').val(), 'password': $('#password').val() },
                function (data) {
                    $('#result').html(data);
                });
        });
    </script>
</body>