<link rel="stylesheet" href="../../jquery.dataTables.min.css">
<table id="example"></table>
<script src="../../../jquery.min.js"></script>
<script src="../../jquery.dataTables.min.js"></script>
<script>
    $(function () {
        var dataSet = [
            { "Latitude": 18.00, "Longitude": 23.00, "Name": "Pune" },
            { "Latitude": 14.00, "Longitude": 24.00, "Name": "Mumbai" },
            { "Latitude": 34.004654, "Longitude": -4.005465, "Name": "Delhi" },
            { "Latitude": 23.004564, "Longitude": 23.007897, "Name": "Jaipur" }
        ];
        var my_columns = [];
        $.each(dataSet[0], function (key, value) {
            var my_item = {};
            my_item.data = key;
            my_item.title = key;
            my_columns.push(my_item);
        });
        $(document).ready(function () {
            $('#example').DataTable({
                data: dataSet,
                "columns": my_columns
            });
        });
    });
</script>