<link rel="stylesheet" href="../jquery.dataTables.min.css" />
<table cellspacing="5" cellpadding="5">
    <tbody>
        <tr>
            <td>Minimum age:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Maximum age:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    </tbody>
</table>
<table id="example" class="display" cellspacing="0" width="100%">

</table>
<script src="../../jquery.min.js"></script>
<script src="../jquery.dataTables.min.js"></script>
<script>
    $(function () {

        var table = $('#example').DataTable({
            "ajax": {
                "type": 'GET',
                "dataType": 'json',
                "async": false,
                "url": "staffs.json",
            },
            "columns": [
                { 'data': 'Name' },
                { 'data': 'Position' },
                { 'data': 'Office' },
                { 'data': 'Age' },
                { 'data': 'Start date' },
                { 'data': 'Salary' }
            ],
            "searching": true
        });

        // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').keyup(function () {
            table.draw();
        });


    });
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = parseInt($('#min').val(), 10);
            var max = parseInt($('#max').val(), 10);
            var age = parseFloat(data[3]) || 0; // use data for the age column

            if ((isNaN(min) && isNaN(max)) ||
                (isNaN(min) && age <= max) ||
                (min <= age && isNaN(max)) ||
                (min <= age && age <= max)) {
                return true;
            }
            return false;
        }
    );
</script>