<link href="../basic_validation/reg_style.css" rel="stylesheet">
<div class="container">
    <h2 class="title">Registration</h2>
    <form action="#" name="registration">

        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" placeholder="John"><br>

        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" placeholder="Doe"><br>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="john@doe.com"><br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"><br>

        <button type="submit">Register</button>
    </form>
</div>
<script src="../../jquery.min.js"></script>
<script src="../../09_validation/jquery.validate.min.js"></script>
<script src="form-validation.js"></script>