@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    font-size: 14px;
}

.container {
    width: 500px;
    margin: 25px auto;
}

.title {
    margin-bottom: 1rem;
}

form {
    padding: 20px;
    background: #2c3e50;
    color: #fff;
    border-radius: 4px;
}

form label,
form input,
form button {
    border: 0;
    margin-bottom: 3px;
    display: block;
    width: 100%;
}

form input {
    height: 25px;
    line-height: 25px;
    background: #fff;
    color: #000;
    padding: 0 6px;
    box-sizing: border-box;
}

form button {
    height: 30px;
    line-height: 30px;
    background: #e67e22;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1.5rem;
    cursor: pointer;
}

form .error {
    color: #ff0000;
}

.article-reference {
    margin-top: 15px;
}

.article-reference a {
    color: #e67e22;
}