<link rel="stylesheet" type="text/css" href="../jquery-ui.min.css">
<script src="../../jquery.min.js"></script>
<script src="../jquery-ui.min.js"></script>

<h4>Link block</h4>
<p><a class="a_jqui" href="https://google.com">Link 1</a></p>
<p><a href="https://google.com">Link 2</a></p>

<h4>Block of buttons</h4>
<p><button class="button_jqui">Button 1</button></p>
<p><button>Button 2</button></p>
<script type="text/javascript">
    $(function () {
        $('.a_jqui').button().click(function (e) {
            e.preventDefault();
            alert('Widget of button');
        });
        $('.button_jqui').button();
    });
</script>
<!--after
    <a class="a_jqui ui-button ui-corner-all ui-widget" href="https://google.com" role="button">Link 1</a>
    <button class="button_jqui ui-button ui-corner-all ui-widget">Button 1</button>
-->