<link rel="stylesheet" type="text/css" href="../jquery-ui.min.css">

<p><button class="get_option">get value</button></p>
<p><button class="set_option">set value</button></p>

<script src="../../jquery.min.js"></script>
<script src="../jquery-ui.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('button.get_option').button().click(function () {
            // get value
            var isDisabled = $('button.get_option').button('option', 'disabled');
            console.log(isDisabled);
        });
        $('button.set_option').button().click(function () {
            // set value
            $('button.set_option').button('option', 'disabled', true);
        });
    });
</script>