<link rel="stylesheet" type="text/css" href="../jquery-ui.min.css">
<div id="langs">

    <input type="radio" id="java" name="lang" checked><label for="java">Java</label>
    <input type="radio" id="csharp" name="lang"><label for="csharp">C#</label>
    <input type="radio" id="php" name="lang"><label for="php">PHP</label></p>
</div>
<script src="../../jquery.min.js"></script>
<script src="../jquery-ui.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#langs').buttonset();
    });
</script>