<table class="table table-bordered table-hover" id="tab_logic">
    <thead>
        <tr>
            <th class="text-center">
                #
            </th>
            <th class="text-center">
                Question Numbers
            </th>
            <th class="text-center">
                Each Question Mark
            </th>
            <th class="text-center">
                Category
            </th>
        </tr>
    </thead>
    <tbody>
        <tr id='addr0'>
            <td>
                1
            </td>
            <td style="width:30%;">  
                <input type="number" value="15"> 
            </td>
            <td style="width:30%;">   
                <input type="number" value="4"> 
            </td>
            <td>
                <select>
                    <option>test1</option>
                    <option>test2</option>
                </select>
            </td>
        </tr>
        <tr id='addr1'></tr>
    </tbody>
</table>
<a href="#" id="add_row">Add Row</a><br><a href="#" id='delete_row'>Delete Row</a>
<script src="/jquery.min.js"></script>
<script src="add_rows_dynamic.js"></script>
<script>
$(function(){
    initFunc();
});
</script>