<link rel="stylesheet" type="text/css" href="../jquery-ui.min.css">
<style>
    .ui-slider {
        background: #FF9999;
        margin: 10%;
        width: 200px;
    }
</style>
<script src="../../jquery.min.js"></script>
<script src="../jquery-ui.min.js"></script>
<div id="slider"></div>
<script type="text/javascript">
    $(function () {
        $('#slider').slider();
    });
</script>