<link rel="stylesheet" type="text/css" href="../jquery-ui.min.css">
<script src="../../jquery.min.js"></script>
<script src="../jquery-ui.min.js"></script>

<h3>Слайдер</h3>
<div id="slider"></div> <br />
Текущее значение слайдера: <span id="sliderValue"></span>
<script type="text/javascript">
    $(function () {

        $('#slider').slider({
            change: function (event, ui) {
                var val = $('#slider').slider('value');
                $('#sliderValue').html(val);
            },
            start: function (event, ui) {
                console.log('Начало движения слайдера');
            },
            slide: function (event, ui) {
                console.log('Перемещение слайдера');
            },
            stop: function (event, ui) {
                console.log('Завершение движения слайдера');
            }
        });
    });
</script>