<style>
    .red {
      background-color: red;
    }
  
    .green {
      background-color: green;
    }
  
    .blue {
      background-color: blue;
    }
  </style>
  
  <input type="text" id="search" placeholder="Search...">
  
  <div id="filter">
    <label><input type="checkbox" value="red" checked>Red</label>
    <label><input type="checkbox" value="green" checked>Green</label>
    <label><input type="checkbox" value="blue" checked>Blue</label>
  </div>
  
  <div id="container">
    <div class="red">Red</div>
    <div class="green">Green</div>
    <div class="blue">Blue</div>
    <div class="red green">Red Green</div>
    <div class="green blue">Green Blue</div>
    <div class="red blue">Red Blue</div>
    <div class="red green blue">Red Green Blue</div>
  </div>
  <script src="/jquery.min.js"></script>
  <script>
    // Get the input element
    let search = document.getElementById("search");
  
    // Get the filter element
    let filter = document.getElementById("filter");
  
    // Get all the checkboxes
    let checkboxes = filter.querySelectorAll("input[type=checkbox]");
  
    // Get the container element
    let container = document.getElementById("container");
  
    // Get all the divs
    let divs = container.querySelectorAll("div");
  
    // Function to filter divs by checkboxes
    function filterDivs() {
      // Get the checked values as an array
      let checked = Array.from(checkboxes).filter(c => c.checked).map(c => c.value);
  
      // Loop through the divs
      for (let div of divs) {
        // Check if the div has any of the checked classes
        let match = checked.some(c => div.classList.contains(c));
  
        // Show or hide the div accordingly
        div.style.display = match ? "block" : "none";
      }
    }
  
    // Function to filter checkboxes by input
    function filterCheckboxes() {
      // Get the input value as lowercase
      let value = search.value.toLowerCase();
  
      // Loop through the checkboxes
      for (let checkbox of checkboxes) {
        // Check if the checkbox value contains the input value
        let match = checkbox.value.toLowerCase().includes(value);
  
        // Show or hide the checkbox accordingly
        checkbox.parentElement.style.display = match ? "block" : "none";
      }
    }
  
    // Add a change event listener to each checkbox
    for (let checkbox of checkboxes) {
      checkbox.addEventListener("change", filterDivs);
    }
  
    // Add an input event listener to the input element
    search.addEventListener("input", filterCheckboxes);
  </script>