<ul id="langs">
    <li>Java</li>
    <li>C/C++</li>
    <li>PHP</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            var newList = $('<ul><li>Item1</li><li>Item2</li></ul>');
            console.log(newList.html());

            newList = $('ul').first().clone();
            console.log(newList.html());
        }
    );
</script>