<ul id="langs">
    <li>Java</li>
    <li>C/C++</li>
    <li>PHP</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        // add code row
        $('#langs').append('<li>C#</li>');

        // add element
        var jsItem = document.createElement('li');
        jsItem.innerHTML = 'JavaScript';
        $('#langs').append(jsItem);

        //paste jQuery object
        var vbItem = $('<li>Visual Basic</li>');
        $('#langs').append(vbItem);

        $('ul#langs').append(function (index, html) {
            return $('<li>Python</li>');
        });
        /*
        output:
        <ul id="langs">
            <li>Java</li>
            <li>C/C++</li>
            <li>PHP</li>
            <li>C#</li>
            <li>JavaScript</li>
            <li>Visual Basic</li>
            <li>Python</li>
        </ul>
        */
    })
</script>