<ul id="langs">
    <li>Java</li>
    <li>C/C++</li>
    <li>PHP</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        //adds a new element to the beginning of the selection
        // paste code rows
        $('#langs').prepend('<li>C#</li>');

        // paste element
        var jsItem = document.createElement('li');
        jsItem.innerHTML = 'JavaScript';
        $('#langs').prepend(jsItem);

        //paste jQuery object
        var vbItem = $('<li>Visual Basic</li>');
        $('#langs').prepend(vbItem);
    })
    /*
        <ul id="langs">
        <li>Visual Basic</li>
        <li>JavaScript</li>
        <li>C#</li>
        <li>Java</li>
        <li>C/C++</li>
        <li>PHP</li>
        </ul>
    */
</script>