<ul id="langs">
    <li>Java</li>
    <li>C/C++</li>
    <li>PHP</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        // paste to jQuery object
        $('<li>C#</li>').prependTo('#langs');

        // paste to html element
        var list = document.getElementById('langs');
        $('<li>JavaScript</li>').appendTo(list);
    })
</script>
<!--output--!
    C#
    Java
    C/C++
    PHP
    JavaScript
-->