<ul class="langs">
    <li>Java</li>
    <li>C/C++</li>
    <li>PHP</li>
</ul>
<div id="test"></div>
<div id="header"></div>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            $('.langs').wrap('<div class="redStyle"></div>');

            //similar
            var langs=$('.langs').clone();
            $("#test").append(langs)
            var header = document.getElementById('header');
            $("#test").wrap(header);

        }
    );
</script>
<!--
    output:
    <div class="redStyle">
        <ul class="langs">
            <li>Java</li>
            <li>C/C++</li>
            <li>PHP</li>
        </ul>
    </div>
-->