<div class="lang">Java</div>
<div class="lang">C/C++</div>
<div class="lang">PHP</div>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            $('.lang').wrapAll('<div class="langs"></div>');
        }
    );
</script>
<!--
    <div class="langs">
        <div class="lang">Java</div>
        <div class="lang">C/C++</div>
        <div class="lang">PHP</div>
    </div>
-->