<ul>
    <li class="lang">Java</li>
    <li class="lang">C/C++</li>
    <li class="lang">PHP</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function(){
            $('li.lang').wrapInner('<p></p>');
        }
    );
</script>
<!--
    <ul>
        <li class="lang"><p>Java</p></li>
        <li class="lang"><p>C/C++</p></li>
        <li class="lang"><p>PHP</p></li>
    </ul>
-->