<ul>
    <li class="lang">Java</li>
    <li class="lang">C/C++</li>
    <li class="lang">PHP</li>
    <li class="lang">JavaScript</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function(){
            $('li:even').remove();
            //another way
            //$('li').remove(':even');
        }
    );
</script>
<!--
    <ul>
        <li class="lang">C/C++</li>
        <li class="lang">JavaScript</li>
    </ul>
-->