<ul>
    <li class="lang">Java</li>
    <li class="lang">C/C++</li>
    <li class="lang">PHP</li>
    <li class="lang">JavaScript</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            // delete first element from list, 
            //saving it into variable 'item'
            var item = $('li:first').detach();
            // paste it to the end of the list
            $('ul').append(item);
        }
    );
</script>
<!--
    output: before 'Java' was first element
    <ul>
        <li class="lang">C/C++</li>
        <li class="lang">PHP</li>
        <li class="lang">JavaScript</li>
        <li class="lang">Java</li>
    </ul>
-->