<ul>
    <li class="lang">Java</li>
    <li class="lang">C/C++</li>
    <li class="lang">PHP</li>
    <li class="lang">JavaScript</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {	
            $('ul').empty();
        }
    );
</script>