<style>
    .redStyle {
        color: blueviolet;
    }

    .black {
        font-size: large;
        background-color: rgb(104, 124, 85);
        display: block;
    }
</style>
<ul>
    <li>
        one
    </li>
    <li>
        two
    </li>
</ul>
<div>
    test div
</div>

<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            $('ul').first().addClass("redStyle");
            // add two classes
            $('div').first().addClass("black visible");
        }
    );
</script>