<style>
    .black {
        font-size: large;
        background-color: rgb(104, 124, 85);
        display: block;
    }
</style>
<div class="black">test div</div>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            $('div').first().removeClass("black");
        }
    )
</script>