<ul class="redStyle">
    <li>test1</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            if ($('ul').first().hasClass("redStyle")) {
                console.log('List contains class redStyle');
            }
            else {
                console.log('List doesn\'t contain class redStyle');
            }
            //returns 'List contains class redStyle'
        }
    );
</script>