<style>
    .redStyle {
        color: red;
    }
</style>
<!------------------------------------------->
<button class="redStyle">Переключить стиль</button>
<script src="../../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('button').click(function () {
            $(this).toggleClass("redStyle");
        });
    }); 
</script>