<select id="countries">
    <option disabled>Choose country</option>
</select>
<script src="../../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $.getJSON('countries.json', function (data) {
            $.each(data, function (key, val) {
                $('#countries').append('<option value="' + val + '">' + key + '</option>');
            });
        });
    });
</script>