<table id="users" border="1">
    <tr><td>Id</td><td>Name</td><td>Age</td><tr>
</table>
<script src="../../jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    $.getJSON('users.json', function(data) {
            for(var i = 0; i < data.users.length; i++){
                $('#users').append('<tr><td>' + data.users[i].id + '</td><td>' + data.users[i].name + 
                '</td><td>' + data.users[i].age + '</td><tr>');
            }
    });
});
</script>