<button>Load</button>
<script src="../../jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    $('button').click(function(){
        $.getScript('redStyle.js');
    });
});
</script>