<button onclick="alert('Hello Everyone');">Click</button>
<button class="langs">Programming languages</button>

<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('button').last().bind('click', function () {
            if ($(this).hasClass("langs")) {
                $('body').append('<ul><li>Java</li><li>JavaScript</li></ul>');
            }
            alert('\'click\' event handler.');
        });
        //this is the way for unbinding
        //$('button').last().unbind();
    });
</script>