<button>Press_1</button>
<button>Press_2</button>
<button>Press_3</button>
<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('button').one('click', function (e) {
            $(this).css('color', 'red');
            alert('Handler for button: ' + $(this).text());
        });
    });
</script>