<pre>Event properties: currentTarget, data, target, timestamp, pageX, pageY, which <br>
Event methods: preventDefault(), isDefaultPrevented(), stopPropagation(), isPropagationStopped() <br> <br></pre>
<button>Click Me</button>
<script src="../jquery.min.js"></script>
<script>
    $(function () {
        $(document).bind('keydown', function (e) {
            console.log(e.which);
        });

        var mes = 'Hello world!';
        $('button').bind('click', mes, function (e) {
            alert(e.data);
        });
    });
</script>