<body>
    <div style="background-color: rgb(168, 206, 193);width: 100px;">
        <button>Press</button>
    </div>
</body>
<script src="../jquery.min.js"></script>
<script>
    $(
        function () {
            $('button').bind('click', function (e) {
                console.log('The event fired by the element ' + e.target.tagName);
                console.log('Event handled for element ' + e.currentTarget.tagName);
            });
            $('div').bind('click', function (e) {
                console.log('The event fired by the element ' + e.target.tagName);
                console.log('Event handled for element ' + e.currentTarget.tagName);
            });
            $('body').bind('click', function (e) {
                console.log('The event fired by the element ' + e.target.tagName);
                console.log('Event handled for element ' + e.currentTarget.tagName);
            });
        }
    );
</script>