<body>
    <div>
        <button>Press</button>
    </div>
</body>
<script src="../jquery.min.js"></script>
<script>
    $(
        function () {
            $('button').bind('click', function (e) {
                console.log('The event fired by the element ' + e.target.tagName);
                console.log('Event handled for element ' + e.currentTarget.tagName);
                e.stopPropagation();
            });
        }
    );
</script>