<button>Press_1</button>
<button>Press_2</button>

<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('body').delegate('button', 'click', function (e) {
            $(this).css('color', 'red');
            alert('Handler for button: ' + $(this).text());
        });
        $('body').append('<button>Press_3</button>');
        //$('body').undelegate('button','click');
    });
</script>