<button>Press_1</button>
<button>Press_2</button>

<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('body').on('click', 'button', function (e) {
            $(this).css('color', 'red');
            alert('Handler fore button: ' + $(this).text());
        });
        //// delete event handler 'click' for button
        //$('body').off('click', 'button');
        //// delete all handlers for elements inside tag 'body'
        //$('body').off();
    });
</script>