<body>
    <table>
        <tr>
            <td>Слово</td>
            <td>Перевод</td>
        </tr>
        <tr>
            <td>Cabbage</td>
            <td>Капуста</td>
        </tr>
        <tr>
            <td>Carrot</td>
            <td>Морковь</td>
        </tr>
        <tr>
            <td>Potato</td>
            <td>Картофель</td>
        </tr>
        <tr>
            <td>Tomato</td>
            <td>Помидор</td>
        </tr>
    </table>
    <br>
    <button>Select</button>
    <button>Unselect</button>
    <script src="../jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('table').on('mouseenter', 'tr', function (e) {
                $(this).css('background-color', 'silver');
            }).on('mouseout', 'tr', function (e) {
                $(this).css('background-color', 'white');
            });

            $('button').first().bind('click', function () {
                $('tr').trigger('mouseenter');
            });

            $('button').last().bind('click', function () {
                $('tr').trigger('mouseout');
            });
        });
    </script>
</body>