<pre>Events:
    blur, change, click, dblclick, focus, focusin, focusout, hover, 
    keydown, keyup, mousedown, mouseup, mouseenter, mouseleave, 
    mousemove, mouseout, mouseover, ready, resize, scroll, select, submit</pre>
<button>Button 1</button>
<button>Button 2</button>
<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('button').first().click(function () {
            $(this).css('background-color', 'silver');
        });

        $('button').last().click(function () {
            $('button').first().click();
        });
    });
</script>