<div id="list">
    <ul>
        <li class="lang">Java</li>
        <li class="lang">C/C++</li>
        <li class="lang">PHP</li>
    </ul>
</div>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            $('li.lang').first().replaceWith('<li class="lang">JavaScript</li>');
        }
    );
</script>
<!--
    JavaScript
    C/C++
    PHP
-->