<div id="list">
    <div class="lang">Java</div>
    <div class="lang">C/C++</div>
    <div class="lang">PHP</div>
</div>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            $('div.lang').replaceWith(function () {
                return '<li class="lang">' + $(this).text() + "</li>";
            });
            $('div#list').replaceWith(function () {
                return '<ol>' + $(this).html() + "</ol>";
            });
        }
    );
</script>
<!--
    <ol>
        <li class="lang">Java</li>
        <li class="lang">C/C++</li>
        <li class="lang">PHP</li>
    </ol>
    //replace <div id="list"> to <ol> && <div class="lang"> to <li class="lang">
-->
