<ol>
    <li class="lang">Java</li>
    <li class="lang">C/C++</li>
    <li class="lang">PHP</li>
</ol>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            $('<li class="lang">List element</li>').replaceAll('li.lang');
        }
    );
</script>
<!--
    1.List element
    2.List element
    3.List element
-->