<table>
    <tr>
        <td>Слово</td>
        <td>Перевод</td>
    </tr>
    <tr>
        <td>Cabbage</td>
        <td>Капуста</td>
    </tr>
    <tr>
        <td>Carrot</td>
        <td>Морковь</td>
    </tr>
    <tr>
        <td>Potato</td>
        <td>Картофель</td>
    </tr>
    <tr>
        <td>Tomato</td>
        <td>Помидор</td>
    </tr>
</table>
<script src="../../jquery.min.js"></script>
<script>
    $(function(){
    var array = $("tr:even");
    array.eq(1).css('background-color', 'silver');
    array.eq(-1).css('background-color', 'silver');
});
</script>