<table>
    <tr><td>Слово</td><td>Перевод</td></tr>
    <tr><td>Cabbage</td><td>Капуста</td></tr>
    <tr><td>Carrot</td><td>Морковь</td></tr>
    <tr><td>Potato</td><td>Картофель</td></tr>
    <tr><td>Tomato</td><td>Помидор</td></tr>
</table>
<script src="../../jquery.min.js"></script>
<script>
    $(function(){
    var array = $("tr:even");
    var firstEl = array.first();
    console.log("Первый элемент: " + firstEl.html());
    var lastEl = array.last();
    console.log("Последний элемент: " + lastEl.html());
    });
</script>