<table>
    <tr>
        <td>Слово</td>
        <td>Перевод</td>
    </tr>
    <tr>
        <td>Cabbage</td>
        <td>Капуста</td>
    </tr>
    <tr>
        <td>Carrot</td>
        <td>Морковь</td>
    </tr>
    <tr>
        <td>Potato</td>
        <td>Картофель</td>
    </tr>
    <tr>
        <td>Tomato</td>
        <td>Помидор</td>
    </tr>
</table>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        var array = $("tr:even");
        var firstEl = array.first();
        var index = array.index(firstEl);
        console.log(index); //выведет 0
        //or
        array = $("tr");
        index = array.index($("tr.tabhead"));
        console.log(index);

        array = $("tr:even");
        console.log(array.selector); //выведет tr:even
    });
</script>