<link rel="stylesheet" href="../../jquery.dataTables.min.css">
<style>
    .container {
        margin-top: 30px;
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%"></table>
        </div>
        <!-- /col-sm-12 -->
    </div>
    <!-- /row -->

</div>
<script src="../../../jquery.min.js"></script>
<script src="../../jquery.dataTables.min.js"></script>
<script>
    $(
        function () {
            $(document).ready(function () {
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    url: 'dynamic_column.json',
                    success: function (d) {
                        $('#example').DataTable({
                            dom: "Bfrtip",
                            data: d.data,
                            columns: d.columns
                        });
                    }
                });
            });

        }
    );
</script>