<script src="../../jquery.min.js"> </script>
<script src="../jquery.validate.min.js"> </script>
<script>
    $(document).ready(function () {
        $("#basic-form").validate();
    });  
</script>
<h4> jQuery Validation Form Example 1</h4>
<form id="basic-form" action="" method="post">
    <p>
        <label for="name"> First Name <span> (required, at least 8 characters) </span> </label>
        <input id="name" name="name" minlength="8" type="text" required>
    </p>
    <p>
        <label for="name"> Last Name <span> </span> </label>
        <input type="text" id="name" name="name" minlength="8" required>
    </p>
    <p>
        <label for="email"> E-Mail <span> (required) </span> </label>
        <input id="email" type="email" name="email" required>
    </p>
    <p>
        <label for="password"> Password </label>
        <input type="password" name="password" id="password" required>
    </p>
    <p>
        <input class="submit" type="submit" value="SUBMIT">
    </p>
</form>