<link rel="stylesheet" href="../../jquery.dataTables.min.css">
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>
<script src="../../../jquery.min.js"></script>
<script src="../../jquery.dataTables.min.js"></script>
<script>
    $(function () {
        new DataTable('#example', {
            ajax: 'objects_deep.json',
            columns: [
                { data: 'name' },
                { data: 'hr.position' },
                { data: 'contact.0' },
                { data: 'contact.1' },
                { data: 'hr.start_date' },
                { data: 'hr.salary' }
            ],
            processing: true
        });
    });
</script>