<ul>
    <li class="punkt1">Item 01</li>
    <li class="punkt2">Item 02</li>
    <li class="punkt3">Item 03</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            // get markup
            var html = $('li.punkt2').html();
            console.log(html);

            // set markup
            $('li.punkt1').html("Menu 1 <ul class='submenu'><li>SubMenu 1.1</li></ul>")
        }
    );
</script>