<div class="header1">first div</div>
<div class="header2">second div</div>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            var oldHtml = $('div.header1').html();
            $('div.header1').html(oldHtml + "<p> New paragraph1</p>")

            $('div.header2').html(function (index, oldValue) {
                console.log("Old markup: " + oldValue);
                return oldValue + "<p> New paragraph2</p>";
            });
        }
    );
</script>