<div class="header1">Header 1 Text</div>
<div class="header2">Header 2 Text</div>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            //get
            var oldText = $('div.header1').text();
            console.log(oldText);
            //set
            $('div.header1').text("Article name");

            // use function
            $('div').last().text(function (index, oldValue) {
                console.log("Old text: " + oldValue);
                return "New text";
            });
        }
    );
</script>