<input type="text" value="Enter value" />
<script src="../../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        // get text field value
        var oldValue = $('input[type="text"]').val();
        console.log(oldValue);

        $('input[type="text"]').first().val("Enter login");

        // use function for seting values
        $('input[type="text"]').first().val(function (index, oldValue) {
            console.log("Old value: " + oldValue);
            return "Enter password";
        });
    });
</script>