<head>
    <link href="/bootstrap_cdn/bootstrap.min.css" rel="stylesheet" />
    <link href="/10_jquery_datatable/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<input type="hidden" id="cultureName" value="en" />
<select id="cultureSelect" onchange="changeCulture(this)">
    <option value="uz">Uz</option>
    <option value="ru">Ru</option>
    <option value="en">En</option>
</select>
<div>
    <a class="btn lang" key="create" href="#">Create</a>
    <a class="btn lang" key="createRange" href="#">Create Range</a>
    <a class="btn lang" key="updateResource" href="#">Update Resource</a>
</div>
<table id="tblResources" class="table" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th class="lang" key="keyWord">Key Word</th>
            <th class="lang" key="value">Value</th>
            <th class="lang" key="cultureName">Culture Name</th>
            <th></th>
        </tr>
    </thead>
</table>
<script src="/jquery.min.js"></script>
<script src="/bootstrap_cdn/bootstrap.min.js"></script>
<script src="/10_jquery_datatable/jquery.dataTables.min.js"></script>
<script src="./ResourceArray.js"></script>
<script src="./datatable/add_datatable.js"></script>
<script src="./datatable/ru.json" type="application/json"></script>
<script src="./datatable/uz.json" type="application/json"></script>
<script>
    $(document).ready(function () {
        setInitialValuesFromCookie();
        applyLocalization();
        addDataTable();
    });

    function setInitialValuesFromCookie() {
        var cookie = document.cookie;
        var cultureCookie = cookie.split('; ').find(row => row.startsWith('culture='));
        if (cultureCookie) {
            var selectedValue = cultureCookie.split('=')[1];
            $("#cultureSelect").val(selectedValue);
            $("#cultureName").val(selectedValue);
        }
    }

    function applyLocalization() {
        var culture = $("#cultureName").val();
        $(".lang").each(function (index, element) {
            try {
                $(this).text(resourceArray[culture][$(this).attr("key")]);
            } catch (error) {
                console.error('An error occurred while updating language:', error);
            }
        });
    }

    function changeCulture(selectElement) {
        var selectedValue = $(selectElement).val();
        $("#cultureName").val(selectedValue);
        document.cookie = "culture=" + selectedValue + "; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
        location.reload();
    }
</script>