<link rel="stylesheet" href="../../bootstrap_cdn/bootstrap.min.css">
<link rel="stylesheet" href="sample2.css">

<h2> FORM VALIDATION USING JQUERY </h2>
<form id="first_form" method="post" action="">
    <div>
        <label for="first_name"> Enter First Name: </label>
        <input type="text" id="first_name" name="first_name"></input>
    </div>
    <div>
        <label for="last_name"> Enter Last Name: </label>
        <input type="text" id="last_name" name="last_name"></input>
    </div>
    <div>
        <label for="last_name"> Enter Number: </label>
        <input type="text" id="number" name="number">
    </div>
    <div>
        <label for="email"> Enter Email: </label>
        <input type="email" id="email" name="email"></input>
    </div>

    <div>
        <label for="password"> Enter Password: </label>
        <input type="password" id="password" name="password"></input>
    </div>
    <div>
        <label for="password"> Confirm Password: </label>
        <input type="password" id="password" name="password"></input>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

<script src="../../bootstrap_cdn/bootstrap.min.js"></script>
<script src="../jquery.validate.min.js"></script>
<script src="sample.js"></script>