form div {
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-left: 5px;
}

h2 {
    font-weight: bold;
    margin-bottom: 2.5rem;
    color: #fff;
    align: center;
    font-size: 30px;
    margin-top: 2.5rem;
}

[type="submit"] {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #3494e6;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    transition: all 0.2s;
}

[type="submit"]:hover {
    color: #FFFFFF;
    background-color: #3494e6;
}

label.error {
    display: inline;
}
