<table >
    <tr class="header">
        <td>Слово</td>
        <td>Перевод</td>
    </tr>
    <tr>
        <td>Cabbage</td>
        <td>Капуста</td>
    </tr>
    <tr class="header">
        <td>Carrot</td>
        <td>Морковь</td>
    </tr>
    <tr>
        <td>Potato</td>
        <td>Картофель</td>
    </tr>
</table>
<p class="header">Test</p>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        //Фильтрация по селектору
        var test=$(".header");
        var array = $(".header").filter("tr");
        array.css('background-color', 'silver');

        // Фильтрация по элементу html
        var elem = document.getElementsByTagName("tr")[0];
        var array1 = $(".header").filter(elem);
        array1.css('background-color', 'silver');
    });
</script>