<table>
    <tr>
        <td>Слово</td>
        <td>Перевод</td>
    </tr>
    <tr class="header">
        <td>Cabbage</td>
        <td>Капуста</td>
    </tr>
    <tr class="header">
        <td>Carrot</td>
        <td>Морковь</td>
    </tr>
    <tr>
        <td>Potato</td>
        <td>Картофель</td>
    </tr>
</table>
<p class="header">Test</p>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        var array = $("tr").not(function () {
            if ($(this).hasClass("header")) { return true; }
            else { return false; }
        });
        array.css('background-color', 'silver');
    });
</script>