<table>
    <tr>
        <td>Слово</td>
        <td>Перевод</td>
    </tr>
    <tr class="header">
        <td>Cabbage</td>
        <td>Капуста</td>
    </tr>
    <tr class="header">
        <td>Carrot</td>
        <td>Морковь</td>
    </tr>
    <tr>
        <td>Potato</td>
        <td>Картофель</td>
    </tr>
</table>
<script src="../../jquery.min.js"></script>
<script>
   $(function(){
    var array = $("tr").slice(1,3);
    array.css('background-color', 'silver');
    //from index till end
    //var array = $("tr").slice(3);
    //array.css('background-color', 'silver');
});
</script>