<ul>
    <li>Menu 1</li>
    <li>Menu 2
        <ul>
            <li>SubMenu 2.1</li>
            <li>SubMenu 2.2</li>
        </ul>
    </li>
    <li>Menu 3</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(function(){
        var test=$('li').has('ul').css('background-color', 'silver');
    });
</script>