<ul>
    <li>Menu 1</li>
    <li>Menu 2
        <ul>
            <li>SubMenu 2.1</li>
            <li>SubMenu 2.2</li>
        </ul>
    </li>
    <li>Menu 3</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        var array = $('li').map(function (index, elem) {
            return $(elem).children()[0];
        });
        array.each(function (index, elem) {
            console.log(elem.innerHTML);
        });
        array.css('background-color', 'silver');
    });
</script>