<ul class="menu">
    <li>Menu 1</li>
    <li>Menu 2
        <ul class="submenu">
            <li>SubMenu 2.1</li>
            <li>SubMenu 2.2</li>
        </ul>
    </li>
    <li>Menu 3</li>
</ul>

<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            var lists = $('ul');
            if (lists.is('.submenu')) {
                $(".submenu").css('background-color', 'silver');
                //lists.css('background-color', 'silver');
            }
        }
    );
</script>