<ul class="menu">
    <li>Menu 1</li>
    <li>Menu 2
        <ul class="submenu">
            <li>SubMenu 2.1</li>
            <li>SubMenu 2.2</li>
        </ul>
    </li>
    <li>Menu 3
        <ul class="submenu">
            <li>SubMenu 3.1</li>
            <li>SubMenu 3.2</li>
        </ul>
    </li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(function(){
    // search by selector
    var array0 = $('ul').find('.submenu');
    array0.css('background-color', 'silver');
     
    // search by element
    // get first element
    var elem = $('ul.submenu')[0];
    var array1= $('ul').find(elem);
    array1.css('background-color', 'gray');
     
    // search by jQuery object
    var jQueryObject = $('ul.submenu');
    var array2= $('ul').find(jQueryObject);
    array2.css('color', 'blue');
});
</script>