<form 
    asp-controller="Home" 
    asp-action="SaveForm" 
    data-ajax-begin="onBegin" 
    data-ajax-complete="onComplete"
    data-ajax-failure="onFailed" 
    data-ajax-success="onSuccess" 
    data-ajax="true" 
    data-ajax-method="POST">
    <input type="submit" value="Save" class="btn btn-primary" />
    <div id="Results"></div>
</form>
<script>
    var results = $("#Results");
    var onBegin = function () {
        results.html("<img src=\"/images/ajax-loader.gif\" alt=\"Loading\" />");
    };

    var onComplete = function () {
        results.html("");
    };

    var onSuccess = function (context) {
        alert(context);
    };

    var onFailed = function (context) {
        alert("Failed");
    };
</script>