<form>
    <script src="/jquery.min.js"></script>
    <script src="/09_validation/jquery.validate.min.js"></script>
    <script src="jquery.validate.unobtrusive.min.js"></script>
    
    <div class="label-row-full-width">
        <label for="q1-1" class="label--un-checked">
            <span>Mr</span>
            <input type="radio" name="CustomerTitle" data-val-required="Please select title"  data-val="true" value="Mr">
        </label>
        <label for="q1-2" class="label--un-checked">
            <span>Mrs</span>
            <input type="radio" name="CustomerTitle" data-val-required="Please select title" data-val="true" value="Mrs">
        </label>
        <span class="field-validation-valid" data-valmsg-for="CustomerTitle" data-valmsg-replace="true"></span>
    </div>
    <input type="submit" value="submit" />
</form>