<div id="log"></div>
<button>TestAjaxStart</button>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        $('button').click(function () {
            $("#result").load('http://localhost:5248/');
        });
    });
    $(document)
        .ajaxStart(function () {
            $("#log").append("<p>Начало запроса</p>");
        })
        .ajaxSend(function (event, jqxhr, settings) {
            $("#log").append("<p>Запрос отправлен по адресу: " + settings.url + "</p>");
        })
        .ajaxStop(function () {
            $("#log").append("<p>Все запросы завершены</p>");
        })
        .ajaxError(function (event, jqxhr, settings) {
            $("#log").append("<p>Ошибка при выполнении запроса</p>");
        })
        .ajaxComplete(function (event, jqxhr, settings) {
            $("#log").append("<p>Запрос завершен</p>");
        })
        .ajaxSuccess(function (event, jqxhr, settings) {
            $("#log").append("<p>С сервера получены данные: " + jqxhr.responseText + "</p>");
        });
</script>