<a href="1.html" id="link1">My link 1</a><br>
<a href="2.html" id="link2">My link 2</a>
<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        var ahref = document.getElementsByTagName('a')[0]
        console.log(ahref.id); // output link1
    });
</script>