<a href="1.html" id="link1">My link 1</a><br>
<a href="2.html" id="link2">My link 2</a>
<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('a').each(function (index, elem) {
            console.log($(elem).prop('href'));
        });
        $('a').first().prop('href', '33.html');
        console.log('\n' + $('a').first().prop('href'));
    });
</script>