<a href="1.html" id="link1">My link 1</a><br>
<a href="2.html" id="link2">My link 2</a>

<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('a').each(function (index, elem) {
            console.log($(elem).attr('href'));
        });

        $('a').first().attr('href','33.html');

        $('a').first().removeAttr('href');
    });
</script>