<ul data-year="2010">
    <li>Java</li>
    <li>C/C++</li>
    <li>PHP</li>
</ul>
<ul data-year="2010" data-description="lang">

</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function(){
            console.log($('ul').data('year'));
            console.log($('ul').data().year);
            //set value
            $('ul').first().data('year', '2012');
            $('ul').first().data('lang', { rate: "tiobe", year: 2012 });
            $('ul').removeData('year');
        }
    );
</script>