<button>Load</button>
<div id="news">
    <h3>No news</h3>
</div>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        $('button').click(function () {
            $.get('http://localhost:5248/', function (data) {
                $('#news').html(data);
                alert('Data loaded');
            });
        });
    });
</script>