<button>Load</button>
<div id="news">
    <h3>No news</h3>
</div>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        $('button').click(function () {
            $.get(
                'http://localhost:5248/json',
                function (data) {
                    $('#news').empty().append("<h3>" + data.event + "</h3><h5>" + data.date + "</h5>");
                },
                'json');
        });
    });
</script>