<button>Load</button>
<div id="news">
    <h3>No news</h3>
</div>
<script src="../../jquery.min.js"></script>
<script>
    $(function () {
        $('button').click(function () {
            var jqxhr = $.get('http://localhost:5248/');
            jqxhr.done(function (data) {
                $('#news').html(data);
            });
            jqxhr.fail(function (data) {
                $('#news').html("Some error happened!");
            });
        });
    });
</script>