<span class="localizedText">Overview</span>
<table border="1">
    <thead>
        <tr>
            <th class="localizedText">Passport Number</th>
            <th class="localizedText">Full Name</th>
        </tr>
    </thead>
</table>

<script>
    var resourceArray = {
        "Passport Number": "Pasport raqami",
        "Full Name": "Ismi Sharifi",
        "Overview": "Umumiy ma'lumot"
    };

    function localizeText() {
        var localizedTextElements = document.querySelectorAll('.localizedText');
        localizedTextElements.forEach(function (element) {
            var originalText = element.textContent.trim();
            if (resourceArray.hasOwnProperty(originalText)) {
                element.textContent = resourceArray[originalText];
            }
        });
    }
    document.addEventListener('DOMContentLoaded', function () {
        localizeText();
    });
</script>