<link href="../../../bootstrap_cdn/bootstrap.min.css">
<link rel="stylesheet" href="/10_jquery_datatable/jquery.dataTables.min.css">
<div id="container">
    <table class="table" id="example" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Editor</th>
                <th>Author+Editor</th>
            </tr>
        </thead>
    </table>
</div>
<script src="/jquery.min.js"></script>
<script src="../../../bootstrap_cdn/bootstrap.min.js"></script>
<script src="/10_jquery_datatable/jquery.dataTables.min.js"></script>
<script src="01_join_two_columns.js"></script>