<link href="jquery.dataTables.min.css" rel="stylesheet" />
<input type="hidden" id="cultureName" value="en" />
<label for="cultureSelect" class="lang" key="language">Language:</label>:
<select id="cultureSelect" onchange="changeCulture(this)">
    <option value="uz">Uz</option>
    <option value="ru">Ru</option>
    <option value="en">En</option>
</select>
<div>
    <button class="lang" key="create">Create</button>
    <button class="lang" key="createRange">Create Range</button>
    <button class="lang" key="updateResource">Update Resource</button>
</div>
<table id="tblResources" class="table" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th class="lang" key="keyWord">Key Word</th>
            <th class="lang" key="value">Value</th>
            <th class="lang" key="cultureName">Culture Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>cultureName</td>
            <td>Culture Name</td>
            <td>English</td>
            <td><a href="#" class="lang" key="edit">Edit</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>cultureName</td>
            <td>Название культур</td>
            <td>Russian</td>
            <td><a href="#" class="lang" key="edit">Edit</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>cultureName</td>
            <td>Til nomi</td>
            <td>Uzbek</td>
            <td><a href="#" class="lang" key="edit">Edit</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>value</td>
            <td>Value</td>
            <td>English</td>
            <td><a href="#" class="lang" key="edit">Edit</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>value</td>
            <td>Значение</td>
            <td>Russian</td>
            <td><a href="#" class="lang" key="edit">Edit</a></td>
        </tr>
        <tr>
            <td>6</td>
            <td>value</td>
            <td>Qiymat</td>
            <td>Uzbek</td>
            <td><a href="#" class="lang" key="edit">Edit</a></td>
        </tr>
        <tr>
            <td>7</td>
            <td>edit</td>
            <td>Edit</td>
            <td>English</td>
            <td><a href="#" class="lang" key="edit">Edit</a></td>
        </tr>
        <tr>
            <td>8</td>
            <td>edit</td>
            <td>Редактировать</td>
            <td>Russian</td>
            <td><a href="#" class="lang" key="edit">Edit</a></td>
        </tr>
        <tr>
            <td>9</td>
            <td>edit</td>
            <td>Tahrirlash</td>
            <td>Uzbek</td>
            <td><a href="#" class="lang" key="edit">Edit</a></td>
        </tr>
        <tr>
            <td>10</td>
            <td>keyWord</td>
            <td>Key Word</td>
            <td>English</td>
            <td><a href="#" class="lang" key="edit">Edit</a></td>
        </tr>
    </tbody>
</table>
<script src="jquery.min.js"></script>
<script src="jquery.dataTables.min.js"></script>
<script src="resourceArray.js"></script>
<script>
    $(document).ready(function () {
        setInitialValuesFromCookie();
        applyLocalization();
        addDataTable();
    });

    function setInitialValuesFromCookie() {
        var cookie = document.cookie;
        var cultureCookie = cookie.split('; ').find(row => row.startsWith('culture='));
        if (cultureCookie) {
            var selectedValue = cultureCookie.split('=')[1];
            $("#cultureSelect").val(selectedValue);
            $("#cultureName").val(selectedValue);
        }
    }

    function applyLocalization() {
        var culture = $("#cultureName").val();
        $(".lang").each(function (index, element) {
            try {
                $(this).text(resourceArray[culture][$(this).attr("key")]);
            } catch (error) {
                console.error('An error occurred while updating language:', error);
            }
        });
    }

    function changeCulture(selectElement) {
        var selectedValue = $(selectElement).val();
        $("#cultureName").val(selectedValue);
        document.cookie = "culture=" + selectedValue + ";path=/";
        location.reload();
    }

    function addDataTable() {
        var culture = $("#cultureName").val();
        var options = {};
        if (culture !== 'en') {
            options.language = {
                "url": "datatable/" + culture + ".json"
            };
        }
        $("#tblResources").DataTable(options);
        $('#tblResources').find('th').each(function (index, element) {
            var key = $(this).attr('key');
            if (key) {
                $(this).text(resourceArray[culture][key]);
            }
        });
    }
</script>