<ul>
    <li>Java</li>
    <li>C/C++</li>
    <li>JavaScript</li>
</ul>
<button id="show">SHOW</button>
<button id="hide">HIDE</button>
<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('button#show').click(function () {
            $('ul').show();
        });
        $('button#hide').click(function () {
            $('ul').hide();
        });
    });
</script>