<ul>
    <li>Java</li>
    <li>C/C++</li>
    <li>JavaScript</li>
</ul>
<button id="hide">HIDE</button>
<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('button#hide').click(function () {
            $('ul').hide('slow', function () {
                alert('Element is hidden.');
            });
        });
    });
</script>