<script src="../jquery.min.js"></script>
<style>
    #langs p {display:none;}
    #langs p.first {display:block;}
</style>
</head>
<body>
<h3>Selected languages</h3>
<div id="langs">
    <p class='first'>Java</p>
    <p>C/C++</p>
    <p>PHP</p>
    <p class='last'>JavaScript</p>
</div>
<button id="prev">Back</button>
<button id="next">Forward</button>
<script type="text/javascript">
$(function() {
    var current = $("div#langs p").first();
    $('#next').click(function(){
         $(current).not('.last').hide("fast", function() {
            current = $(current).next('p');
            $(current).show("fast");
        });
    });
    $('#prev').click(function(){
         $(current).not('.first').hide("fast", function() {
            current = $(current).prev('p');
            $(current).show("fast");
        });
    });
});
</script>