<button>TOOGLE</button>
<div>
    <ul>
        <li>Java</li>
        <li>C/C++</li>
        <li>JavaScript</li>
    </ul>
</div>
<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('button').click(function () {
            $('ul').toggle();
        });
    });
</script>