<button id="slideUp">Скрыть</button>
<button id="slideDown">Раскрыть</button>
<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slideUp').click(function () {
            $(this).slideUp();
        });
        $('#slideDown').click(function () {
            $('#slideUp').slideDown();
        });
    });
</script>