<img src="earth.png" id="ars" /><br>
<button id="fadeIn">Show</button>
<button id="fadeOut">Hide</button>
<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#ars').fadeTo(2000, 0.6);
        $('#fadeIn').click(function () {
            $('#ars').fadeIn('slow', function () { alert('Visible'); });
        });
        $('#fadeOut').click(function () {
            $('#ars').fadeOut(2000, function () { alert('Hidden'); });
        });
    });
</script>