<img src="earth.png" id="ars" /><br>
<button id="anim">Animation</button>
<script src="../jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#ars').animate({
            'margin-left': '+=50',
            width: '-=10',
            height: '-=10'
        }, 1000);
        $('#anim').click(function () {
            $('#ars').animate({
                opacity: 0.25,
                'margin-left': '50',
                height: '200'
            });
        });

    });
</script>