<link href="/10_jquery_datatable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="/jquery.min.js"></script>
<script src="/10_jquery_datatable/jquery.dataTables.min.js"></script>
<script src="index.js"></script>
<body>
    <table id="example" class="display" style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start Date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
