<ul>
    <li class="lang">Java</li>
    <li class="lang">C/C++</li>
    <li class="lang">PHP</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            // add with markup
            $('li.lang').first().before('<li class="lang">JavaScript</li>');

            // add new html element
            var vbItem = document.createElement('li');
            vbItem.innerHTML = 'Visual Basic';
            $('li.lang').first().before(vbItem);
        }
    );
</script>
<!------output------
<ul>
    <li class="lang">Visual Basic</li>
    <li class="lang">JavaScript</li>
    <li class="lang">Java</li>
    <li class="lang">C/C++</li>
    <li class="lang">PHP</li>
</ul>
-->