<ul>
    <li class="lang">Java</li>
    <li class="lang">C/C++</li>
    <li class="lang">PHP</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            // add with markup
            $('li.lang').last().after('<li class="lang">JavaScript</li>');

            // add jQuery object by cloning last element
            $('li.lang').last().after($('li.lang').last().clone().html('Visual Basic'));

            //add duplicate as second element
            $('li.lang').first().after($('li.lang').last().clone());
        }
    );
</script>
<!--
   <ul>
        <li class="lang">Java</li>
        <li class="lang">Visual Basic</li>
        <li class="lang">C/C++</li>
        <li class="lang">PHP</li>
        <li class="lang">JavaScript</li>
        <li class="lang">Visual Basic</li>
    </ul> 
-->
