<ul>
    <li class="lang">Java</li>
    <li class="lang">C/C++</li>
    <li class="lang">PHP</li>
</ul>
<script src="../../jquery.min.js"></script>
<script>
    $(
        function () {
            $('<li class="lang">JavaScript</li>').insertAfter('li.lang:last');
        }
    );
</script>
<!--
    Java
    C/C++
    PHP
    JavaScript
-->