<link rel="stylesheet" type="text/css" href="../jquery-ui.min.css">

<script src="../../jquery.min.js"></script>
<script src="../jquery-ui.min.js"></script>

<h3>Языки программирования</h3>
<div id="accordion">
    <h3>Java</h3>
    <div>Описание языка Java</div>
    <h3>JavaScript</h3>
    <div>Описание языка JavaScript</div>
    <h3>C#</h3>
    <div>Описание языка C#</div>
</div>

<script type="text/javascript">
    $(function () {
        $('#accordion').accordion({
            activate: function (event, ui) {

                console.log("Была активной панель: " + $(ui.oldHeader).text());
                console.log("Стала активной панель: " + $(ui.newHeader).text());
            }
        });
    });
</script>